{% extends "auctions/layout.html" %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <!-- one row -->
            {% if auction %}
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{auction.urlimg}}"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{auction.title}}</h5> 
                    {% if categories %}                  
                    <div class="mt-1 mb-0 text-muted small">
                        {% for cat in categories %}
                        <span>{{cat}}</span><span class="text-primary"> • </span>                        
                        {% endfor %}
                    </div>                    
                    {% endif %}
                    <p class="text-justify text para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">${{bid}}</h4><span class="strike-text">${{auction.start_bid}}</span>
                    </div>                    
                    <div class="d-flex flex-column mt-4"> 
                        <input type="text" /><button class="btn btn-primary btn-sm mt-2"  type="button">Bid</button>
                        {% if watch_listed %}
                        <button class="btn btn-outline-primary btn-sm mt-2" type="button"><a id="remove" name="remove" class="btn btn-primary btn-sm" href="{% url 'watchlist' auction.id %}" >Remove of Watchlist</a></button>
                        {% else %}
                            <button class="btn btn-outline-primary btn-sm mt-2" type="button"><a id="add" name="add" class="btn btn-primary btn-sm" href="{% url 'watchlist' auction.id %}" >Add to Watchlist</a></button>
                        {% endif %}
                        <button class="btn btn-primary btn-sm mt-2" type="button"><a class="btn btn-primary btn-sm" href="{% url 'index' %}" >Back to auctions</a></button>
                    </div>
                </div>
            </div>  
            {% endif %}          
        </div>
    </div>
</div>
<!-- <div class="container mt-5 mb-5">
    {% if user.is_authenticated and user != auction.creator %}
    <form action="{% url 'comment' auction.id%}" method="post">
        {% csrf_token %}
        <div class="form-group ">
        {{ commentForm }}    
        <div class="form-group">
            <input type="submit" value="Comment" class="btn btn-primary">
        </div>
        </div>
    </form> 
    {% endif %}
</div> -->
<section>
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                {% if auction and comments %}
                <h1>Comments</h1>
                    {% for comment in comments %}                        
                        <div class="comment mt-4 text-justify">                                                                            
                            <h4>{{comment.user}}</h4>
                            <span>{{comment.date}}</span>
                            <br>
                            <p>{{comment.text}}</p>
                        </div>  
                    {% endfor %}
                {% endif %}              
            </div>            
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                {% if user.is_authenticated %}
                <form id="algin-form" action="{% url 'comment' auction.id%}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <label for="message">Message</label>
                        <textarea name="text" id="text" cols="30" rows="5" class="form-control"></textarea>
                    </div>                    
                    <!-- <div class="form-group">
                        <p class="text-secondary">If you have a <a href="#" class="alert-link">gravatar account</a> your address will be used to display your profile picture.</p>
                    </div>                     -->
                    <div class="form-group">
                        <button type="submit" id="post" class="btn">Post Comment</button>
                    </div>
                </form>
                {% endif %}
            </div>            
        </div>
    </div>
</section>
{% endblock %}