{% extends "auctions/layout.html" %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <h1>Watchlist</h1>
            <!-- one row -->
            {% for auction in auctions %}
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{auction.urlimg}}"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{auction.title}}</h5>                                        
                    <p class="text-justify text para mb-0">{{auction.description}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        {% if auction.status == True %}
                        <h4 class="mr-1">${{auction.current_price}}</h4>
                        {% else %}
                        <h4 class="mr-1">CLOSED!</h4>
                        {% endif %}
                    </div>                   
                    <div class="d-flex flex-column mt-4">
                        <button class="btn btn-primary btn-sm" type="button"><a class="btn btn-primary btn-sm" href="{% url 'view' auction.id %}" >Details</a></button>                        
                    </div>
                </div>
            </div>  
            {% endfor %}          
        </div>
    </div>
</div>
{% endblock %}