{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
        <div class="list-group">
            <a href="#" class="list-group-item text-decoration-none read">                
                <label><input type="checkbox"></label>                
                <span class="badge badge-info m-2">Andres posada</span>
                <span class="pr-2">Nice work on the lastest version</span>
                <span class="text-muted" style="font-size: 11px;">- More content here asdasdasdasdasasdasdasdasdasdsadasdasd</span>
                <span class="badge badge-primary float-right m-2">12:10 AM</span>                
            </a>            
            <a href="#" class="list-group-item">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div>
                    <span class="glyphicon glyphicon-star-empty"></span><span class="name  label label-success" style="min-width: 120px;display: inline-block;">Juan acosta</span> <span class="">This is big title</span>
                    <span class="text-muted" style="font-size: 11px;">- I saw that you had..</span> <span class="badge">12:09 AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                        </span></span></a><a href="#" class="list-group-item read">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                            <span class="glyphicon glyphicon-star"></span><span class="name  label label-warning" style="min-width: 120px;
                                display: inline-block;">Mariana jaramillo</span> <span class="">This is big title</span>
                            <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span> <span class="badge">11:30 PM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                        </span>   
                    </span>  
                </a>
        </div>                       
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form"> 
            <div id="errorMessage" class="alert alert-danger d-none" role="alert">                
            </div>           
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}