{% extends "encyclopedia/layout.html" %} 

{% load entry_extras %}
{% block title %} searched: {{ query }} {% endblock %} 
{% block body %}
{% if query %}
<div  class="alert alert-success" role="alert">
    <h1>
        Your closest search results for: {{ query }}
    </h1>    
</div>
    <ul>
        {% for entry in entries %}
        <li><a href="{% url 'entry' entry %}"> {{ entry }} </a></li>
        {% endfor %}
      </ul>    
{% else %}
<div class="alert alert-danger" role="alert" >
    <h4 class="alert-heading">No results!</h4>    
</div>    
{% endif %}

{% endblock %}
